.App {
  text-align: center;
  color: black;
  background: linear-gradient(white, #f2f2f2);
  height: 100vh;
  .App-header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    background-color: #f2f2f2;
    .logout-button {
      margin-right: 16px;
      &.hidden {
        visibility: hidden;
      }
    }
    .header-text { 
      margin-left: 16px;
    }
  }
}
