.login-container {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .field-container {
    .field {
      &.username-field {
        margin: 16px 8px;
      }
      &.password-field {
        margin: 16px 8px;
      }
    }
    .submit-container {
      display: block;
      .submit-button {
        margin: 16px 0;
      }
    }
  }
  .failure-message {
    color: red;
  }
  .register-link {
    margin-top: 16px;
    font-size: 14px;
    color: black;
    cursor: pointer;
    text-decoration: underline;
  }
}